[Unit]
Description=Hourly Time Signal

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/sh -c "mpg123 $HOME/.config/hourly-time-signal/signal.mp3"
